<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Room</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/index.js"></script>
</head>
<body>
    <div>
        <%- include('../partials/header')-%>
    </div>

    <h1 class="title">Start chatting</h1>

    <div id="container">
        <div>
            <h2>Enter chat</h2>
            <form action="/room" method="POST">
                <input name="username" id="username" type="text" placeholder="Username">
                <button class="join-room-submit" type="submit">Join Room</button>
            </form>
        </div>
    </div>

    <div>
        <%- include('../partials/footer')-%>
    </div>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>
</html>